.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: orange;
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}